@import "./../../../node_modules/normalize.css/normalize.css";
@tailwind preflight;
@tailwind components;

.page {
    width: 960px;
}

a {
    color: config('colors.black');
    text-decoration: none;
}

.primary {
    fill: config('colors.teal');
}

.secondary {
    fill: #20504F;
}

@tailwind utilities;
